/*
=================================================
BACKGROUND
=================================================
*/
body{
  background-color: rgb(229, 229, 229);
  margin: 0;
  padding: 0;
}

/* Font */
.alt-font{
  font-size:20px;
  font-family:"Oswald", serif;
  
}

.leadmb-4{
  font-size:30px;
}
.white{
  background-color: white;
}


 /* Basic Styling for the Footer */
 footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }

  footer a:hover {
    text-decoration: underline;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-links {
    list-style: none;
    padding: 0;
  }

  .footer-links li {
    display: inline;
    margin-right: 15px;
  }

  .social-icons a {
    margin: 0 10px;
  }

  /*
=================================================
VIDEO BACKGROUND
=================================================
*/
.video-hero{ 
  position:relative;
  background-image: none;
  background-color:transparent;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

